
/*VARIABLES*/
:root{
    --logo-color:#424769;
    --primary-color:#F4F9F9;
    --primary-font:'DM Serif Display','sans-serif';
    --secondary-color:#FFF0F5;
    --secondary-font:'Roboto Mono','sans';
}

/*STYLING*/

body,html{
    height:  100%;
    margin:  0px auto;
    padding: 0px auto;
}

.wrapper{
    width: 100%;
    display: flex;
    height: auto;      
    min-height: 100%;
    margin:0px auto;
    padding:0px auto;
}
.container{
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.form{
    padding: 4em 2em 4em 2em;
    width: 50%;
    text-align: center;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    font-family:var(--secondary-font);
    box-shadow: 2px 2px 5px var(--secondary-color);
    background-color: white;
}
.form > h2{
    padding-bottom: 1em;
    font-weight: 900;
    font-size: 2em;
    font-family: var(--secondary-font);
    color: var(--logo-color);
}
input{
    font-size: 0.85rem;
    width: 60%;
    max-width: 300px;
    border-radius: 5px;
    border-style: none none solid none;
    border-color: var(--primary-color);
    padding: 0.5em;
    margin: 0.2em;
    font-family: var(--secondary-font);
    
}

button{
    padding: 0.5em;
    margin-top: 10px;
    width: 30%;
    font-size:1rem;
    margin-top: 1em;
    font-family:var(--primary-font);
    width: 60%;
    font-weight: 800;
    max-width: 300px;
    border-radius: 15px;
    background-color: var(--logo-color);
    color: var(--primary-color);
    border:1px solid  var(--logo-color);

}

.hero{
    --bg-image:url('images/sign-up.jpg');
    --bg-image-opacity:0.4;
    position: relative;
    isolation: isolate;
    width: 50%;
}

.hero::after{
    background-image:var(--bg-image);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100%;
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: var(--bg-image-opacity);
}
.hero>h1{
    font-size: 4rem;
    font-family:var(--primary-font);
    color: var(--logo-color);
}
.hero>span{
    font-size: 1.12rem;
    font-family: var(--secondary-font);
    font-weight: 700;
    color: var(--logo-color);
}
.sign-up{
    background-color:var(--primary-color) ;
}

.msg-no-display{
    display: none;
}

.msg-display{
    font-size: 1rem;
    color: #CE5A67;
}


/*PSEUDO CLASSES*/
input::placeholder{
    color: var(--logo-color);
}

input:hover{
    border: 1px solid var(--logo-color);
    box-shadow: 2px 2px 1px var(--secondary-color);
}
input:focus{
    background-color: var(--primary-color);
    border: 2px solid var(--logo-color);
    outline: none;
    
}
input:focus:valid{
    background-color: var(--primary-color);
}
input:focus:invalid{
    background-color:var(--secondary-color);
}

.invalid{
    background-color:var(--secondary-color);
    
}


.form>h2:hover{
    text-decoration:underline solid var(--logo-color);
    cursor: pointer;
}
.hero>h1:hover{
    color: var(--primary-color);
    cursor: pointer;
}
button:hover{
    background-color: var(--primary-color);
    color: var(--logo-color);
    cursor: pointer;
}




/* MEDIA QUERIES */



@media screen and (max-width: 768px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .container{
        width: 100%;
    }
    .hero{
        padding-bottom: 20em;
        text-align: center;
    }

    .hero>h1{
        font-size: 5rem;
        margin-top: 3em;
    }

    .form{
        margin-top:4em;
        margin-bottom: 4em;
        padding: 6em 4em 6em 4em;
    }
    input {
        font-size: 1.2rem;
        width: 80%;
        max-width: 300px;

    }
}

@media screen and (max-width: 400px) {
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .container{
        width: 100%;
    }
    .hero{
        padding-bottom: 20em;
        text-align: center;

    }

    .hero>h1{
        font-size: 3rem;
        margin-top: 3em;
        padding-left: 1em;
        padding-right: 1em;
    }

    .hero>span{
        padding-left: 1em;
        padding-right: 1em;
    }

    .form{
        margin-top:4em;
        margin-bottom: 4em;
        padding: 2em 2em 2em 2em;
    }
    input {
        font-size: 0.78rem;
        width: 70%;
        max-width: 300px;

    }
}
