*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
body{
    display: flex;
    flex-direction: column;
}
img{
    width: 60%;
    
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}
ul{
    text-align: center;
    display: flex;
    margin-right: 7em;
    justify-content: space-around;
    gap: 2em;
    font-size: 1.5rem;
}
li{
    display: flex;    
    text-decoration: none;

}
a{
    text-decoration: none;
    color: black;
}
.hero{
    font-size: 3rem;
}
.container{
    display: flex;
    
}

.sign-container{
    margin-top: 2em;
    flex: 1;
    width: 50%;
    border: 2px solid black;
    padding: 3em;
    display: flex;
    gap: 3em;
    justify-content: center;
    align-items: center;
}
form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:3em;
    font-size: 2rem  ;

}
label,input{
    width: 200px;
    display: inline-block;
}
.sign-one,.sign-two{
    display: flex;
    flex-direction: column;
    gap: 4em;
}
button{
    width: 20%;
    padding: 0.5em;
    font-size: 1.5rem ;
}